In [1]:
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Prepossing The Data

In [3]:
# Drop The Columns Which Are Unique For All Users Like RowNumbeR, CustomerId, Surname :
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Convert Categorical Columns Like Geography & Gender Into Numeric :
le_gender=LabelEncoder() # for Gender Column, Since It Has Only 2 Categories
df['Gender']=le_gender.fit_transform(df['Gender'])

# For Geography Column, Since It Has 3 Categories, We Will Use OneHotEncoding :
one_hot_encoder_geo=OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(df['Geography'].values.reshape(-1,1))
geo_encoder=pd.DataFrame(geo_encoder.toarray(),columns=['France','Germany','Spain'])
df=pd.concat([df,geo_encoder],axis=1)
df=df.drop(['Geography'],axis=1) # Drop The Original Geography Column
df.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [5]:
# Save The Encoded Data In Pickle File :
with open('lable_Encoding_gender.pkl','wb') as file:
    pickle.dump(le_gender,file)
    
with open('One_Hot_Encoding_Geography.pkl','wb') as file:
    pickle.dump(geo_encoder,file)

In [6]:
# Split The Data Into Train & Test :
X=df.drop(['Exited'],axis=1)
y=df['Exited']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=50)
X_train.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
5189,826,1,41,5,146466.46,2,0,0,180934.67,0.0,0.0,1.0
7969,637,1,49,2,108204.52,1,1,0,169037.84,0.0,1.0,0.0
9039,545,0,44,1,0.00,2,1,1,82614.89,0.0,0.0,1.0
5208,779,0,38,7,0.00,2,1,1,138542.87,0.0,0.0,1.0
506,691,1,30,7,116927.89,1,1,0,21198.39,0.0,1.0,0.0

In [7]:
# Standardization (or z-score normalization) The Features Data :
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# Convert the standardized data back to a pandas DataFrame Just For See The Data :
x=pd.DataFrame(X_train,columns=X.columns)
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,1.824583,0.903490,0.219906,-0.002572,1.129181,0.809267,-1.540615,-1.029875,1.405186,-1.006018,-0.576470,1.743341
1,-0.122525,0.903490,0.989046,-1.041284,0.516851,-0.913102,0.649092,-1.029875,1.198486,-1.006018,1.734694,-0.573611
2,-1.070324,-1.106819,0.508333,-1.387521,-1.214815,0.809267,0.649092,0.970992,-0.303060,-1.006018,-0.576470,1.743341
3,1.340382,-1.106819,-0.068522,0.689902,-1.214815,0.809267,0.649092,0.970992,0.668654,-1.006018,-0.576470,1.743341
4,0.433792,0.903490,-0.837663,0.689902,0.656456,-0.913102,0.649092,-1.029875,-1.370135,-1.006018,1.734694,-0.573611
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.907691,-1.106819,-0.549235,-0.348809,-1.214815,0.809267,0.649092,-1.029875,0.261615,0.994018,-0.576470,-0.573611
6996,-1.966612,0.903490,-0.356950,1.382377,1.134207,0.809267,0.649092,0.970992,-1.678044,-1.006018,1.734694,-0.573611
6997,0.052612,0.903490,1.565902,-0.695047,0.185274,-0.913102,0.649092,0.970992,-1.681125,0.994018,-0.576470,-0.573611
6998,-2.615648,-1.106819,-0.453093,-0.002572,0.481756,-0.913102,0.649092,0.970992,-1.436536,-1.006018,1.734694,-0.573611
6999,1.412497,0.903490,-0.164665,0.689902,1.440128,0.809267,0.649092,0.970992,-0.574747,0.994018,-0.576470,-0.573611

In [8]:
# Save The StandardScaler Object In Pickle File :
with open('Feature_scaling.pkl','wb') as file:
    pickle.dump(sc,file)

# ANN Implementation

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.activations import relu
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

from tensorflow.keras.initializers import he_uniform # For Weight Initialization

from tensorflow.keras.layers import BatchNormalization 
from tensorflow.keras.regularizers import l2 # For Regularization
from tensorflow.keras.layers import Dropout # For Regularization

import datetime

In [13]:
# Model Building :
model=Sequential([
    Dense(128,
          activation='relu',
          kernel_initializer=he_uniform(),
          kernel_regularizer=l2(0.00018542078372695),
          input_dim=X_train.shape[1]),
    BatchNormalization(),
    Dropout(0.38247415095870707),
    
    Dense(1,activation='sigmoid')
])

e:\Projects\ANN Project\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
# Model Summary :
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         1,664 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization             │ (None, 128)            │           512 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │           129 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,305 (9.00 KB)

 Trainable params: 2,049 (8.00 KB)

 Non-trainable params: 256 (1.00 KB)

In [15]:
# Compile The Model :
model.compile(optimizer=RMSprop(learning_rate=0.0009715619067182132), loss='binary_crossentropy', metrics=['accuracy'])

In [16]:
# Set Up TensorBoard :
log_dir='logs/fit_Classification'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [17]:
# Set Up Early Stopping :
early_stop=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [18]:
# Train The Model :
history = model.fit(X_train,y_train,
                   validation_data=(X_test,y_test),
                   epochs=40,  # Increased epochs, early stopping will prevent overfitting
                   batch_size=32,
                   verbose=1,
                   callbacks=[tensorboard_callback,early_stop])

Epoch 1/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - accuracy: 0.6687 - loss: 0.6965 - val_accuracy: 0.8217 - val_loss: 0.4685
Epoch 2/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.7910 - loss: 0.5175 - val_accuracy: 0.8383 - val_loss: 0.4464
Epoch 3/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8062 - loss: 0.4937 - val_accuracy: 0.8400 - val_loss: 0.4366
Epoch 4/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8208 - loss: 0.4569 - val_accuracy: 0.8413 - val_loss: 0.4295
Epoch 5/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8227 - loss: 0.4522 - val_accuracy: 0.8497 - val_loss: 0.4188
Epoch 6/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8313 - loss: 0.4386 - val_accuracy: 0.8480 - val_loss: 0.4159
Epoch 7/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8221 - loss: 0.4398 - val_accuracy: 0.8520 - val_loss: 0.4053
Epoch 8/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8375 - loss: 0.4215 - val_accuracy: 0.8537 - val_loss: 0.4013
Epoch 9/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8341 - loss: 0.4218 - val_accuracy: 0.8593 - val_loss: 0.3964
Epoch 10/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8442 - loss: 0.4068 - val_accuracy: 0.8507 - val_loss: 0.3985
Epoch 11/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8423 - loss: 0.4043 - val_accuracy: 0.8577 - val_loss: 0.3945
Epoch 12/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8436 - loss: 0.4019 - val_accuracy: 0.8577 - val_loss: 0.3898
Epoch 13/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8430 - loss: 0.4082 - val_accuracy: 0.8583 - val_loss: 0.3882
Epoch 14/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8362 - loss: 0.4087 - val_accuracy: 0.8560 - val_loss: 0.3863
Epoch 15/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8430 - loss: 0.3884 - val_accuracy: 0.8610 - val_loss: 0.3831
Epoch 16/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8450 - loss: 0.3993 - val_accuracy: 0.8580 - val_loss: 0.3828
Epoch 17/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8435 - loss: 0.3902 - val_accuracy: 0.8560 - val_loss: 0.3834
Epoch 18/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8492 - loss: 0.3860 - val_accuracy: 0.8533 - val_loss: 0.3831
Epoch 19/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8491 - loss: 0.3851 - val_accuracy: 0.8623 - val_loss: 0.3793
Epoch 20/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8388 - loss: 0.3941 - val_accuracy: 0.8577 - val_loss: 0.3782
Epoch 21/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8557 - loss: 0.3744 - val_accuracy: 0.8603 - val_loss: 0.3755
Epoch 22/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8597 - loss: 0.3679 - val_accuracy: 0.8580 - val_loss: 0.3752
Epoch 23/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8503 - loss: 0.3725 - val_accuracy: 0.8593 - val_loss: 0.3737
Epoch 24/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8499 - loss: 0.3782 - val_accuracy: 0.8580 - val_loss: 0.3736
Epoch 25/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8548 - loss: 0.3733 - val_accuracy: 0.8487 - val_loss: 0.3772
Epoch 26/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8387 - loss: 0.3960 - val_accuracy: 0.8593 - val_loss: 0.3725
Epoch 27/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8587 - loss: 0.3662 - val_accuracy: 0.8593 - val_loss: 0.3726
Epoch 28/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8609 - loss: 0.3655 - val_accuracy: 0.8567 - val_loss: 0.3731
Epoch 29/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8567 - loss: 0.3733 - val_accuracy: 0.8550 - val_loss: 0.3732
Epoch 30/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8555 - loss: 0.3595 - val_accuracy: 0.8560 - val_loss: 0.3719
Epoch 31/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8554 - loss: 0.3665 - val_accuracy: 0.8573 - val_loss: 0.3689
Epoch 32/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8603 - loss: 0.3572 - val_accuracy: 0.8590 - val_loss: 0.3678
Epoch 33/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8541 - loss: 0.3766 - val_accuracy: 0.8597 - val_loss: 0.3679
Epoch 34/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8554 - loss: 0.3721 - val_accuracy: 0.8600 - val_loss: 0.3683
Epoch 35/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8541 - loss: 0.3743 - val_accuracy: 0.8597 - val_loss: 0.3676
Epoch 36/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8555 - loss: 0.3620 - val_accuracy: 0.8597 - val_loss: 0.3669
Epoch 37/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8520 - loss: 0.3672 - val_accuracy: 0.8547 - val_loss: 0.3696
Epoch 38/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8574 - loss: 0.3547 - val_accuracy: 0.8597 - val_loss: 0.3673
Epoch 39/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8533 - loss: 0.3673 - val_accuracy: 0.8573 - val_loss: 0.3669
Epoch 40/40
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8621 - loss: 0.3546 - val_accuracy: 0.8570 - val_loss: 0.3658

In [19]:
# Save The Model :
model.save('Updated_ANN_classification_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [20]:
# Lode The TensorBoard :
%load_ext tensorboard

In [21]:
%tensorboard --logdir logs/fit_Classification20250125-135713

In [27]:
# Model Evaluation :
test_loss, test_mae=model.evaluate(X_test,y_test)
print('Test Data Mean Absolute Error :',test_loss)

94/94 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49687.5664 - mae: 49687.5664
Test Data Mean Absolute Error : 50176.9296875